dash[diskcache]==4.2.0
dash-ag-grid==35.3.0
plotly==6.9.0
gunicorn==23.0.0
pymc==5.25.1
pytensor==2.31.7
arviz==0.22.0
h5py==3.13.0
numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
matplotlib==3.9.3
xarray==2025.1.1
